  h2 {
    position: fixed;
    top: 0;
    font-size: 50px;
    color: #1a1d22;
    font-weight: bold;
    margin-top: 50px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  

  .currency-container {
    display: flex;
    gap: 10px;
  }
  
  .currency-container label,
  .currency-container select {
    flex: 1; 
  }
  
  select {
    width: 100%;
    padding: 8px;
    
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  p {
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
  }