:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #b3d7f0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #8d92f1;
  text-decoration: inherit;
}

a:hover {
  color: #5e6086;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 50px;
  text-align: center;
  margin-bottom: 0px;
  color: #2c7cf3;
  font-weight: bold;
  padding: 10px;;
  background-color: #a1ceec;
  box-shadow: 0px -5px 5px rgba(0, 140, 255, 0.24);
}
